* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }
  
  header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .photo {
    max-width: 500px;
    padding: 20px;
  }
  
  .photo img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .description {
    max-width: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .description h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .description p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 0.9rem;
  }
  
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  
  .social-icon:hover {
    color: #f9f9f9;
  }
  h2{
    color: #333;
  }
  